<div class="container py-4">
  <div class="p-5 mb-4 bg-body-tertiary rounded-3">
    <div class="container-fluid">
      <h1 class="display-5 fw-bold">Nueva Tarea</h1>
      <form class="row g-3" (ngSubmit)="addNewTask(taskInput.value)">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Ingresa el titulo de la tarea" #taskInput>
          <button class="btn btn-success" type="submit">
            <i class="fa-solid fa-plus"></i>
          </button>
        </div>
      </form>
    </div>
    <hr>
    <div class="container-fluid">
      <to-do-list />
    </div>
  </div>
</div>